# ---> Linux
*~

# KDE directory preferences
.directory
runtime
tags
.idea/
.project
node_modules/

*.swp
*.sql
*.vi*
*.swn
*.swm
*.swo
.vimrc

# Linux trash folder which might appear on any partition or disk
.Trash-*

